
body {
  padding: 0;
  margin: 0;
  background-color: #f7f2e9;
  color: #393939;
  font-family: 'Lora', serif;
}
#container {
  display: grid;
  grid-template-columns: 100px 50px auto 250px 100px;
  grid-template-rows: 25px 100px auto 15%;
}

.navHeader {
  grid-column: 2/span 3;
  grid-row: 1;
  /* justify-self: safe center; */
  justify-self: center;
}

.logoHeader {
  grid-column: 2/ span 3; 
  grid-row: 2;
  align-self: center;
  justify-self: center;
  
}

.posts {
  grid-column: 2 / span 2;
  grid-row: 3;
}
.sideBar {
  grid-column: 4;
  grid-row: 3
}

.footer {
  grid-column: 2 / span 3;
  grid-row: 4;
  justify-self: center;
}

.navHeader a {
  /* padding: 0 5% 0 5%; */
  color: #393939;

}
.footer a {
  color: #393939;
}

