body {
  padding: 0;
  margin: 0;
  background-color: #f7f2e9;
  color: #393939;
  font-family: "Lora", serif;
}
.container {
  display: grid;
  grid-template-columns: 100px 50px 650px 250px 100px;
  grid-template-rows: 25px 100px auto 15%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr 2fr);
  grid-template-areas: "head head head head head head"
    "title title title title title title" "main main main main side side"
    "foot foot foot foot foot foot";
}

.navHeader {
  grid-area: head;
}

.logoHeader {
  grid-area: title;
}

.posts {
  grid-area: main;
}
.articleBottom {
  display: flex;
  flex-direction: row;
}
.sideBar {
  grid-area: side;
}

.footer {
  grid-area: foot;
}

.navHeader a {
  color: #393939;
}
.footer a {
  color: #393939;
}
.posts {
  width: 100%;
}
.articleBottom a {
  color: #393939;
}
.articleComments {
  padding: 0;
  margin: 0;
  align-self: flex-endl;
}
.articleHeaderImage {
  width: 100%;
}
