.blueberry {
 color: #687A8F;
}
.apricot {
  color: #F7882F;
}
.citrus {
  color: #F7C331;
}
.appleCore {
  color: #DCC7AA;
}

body {
  margin: 0;
  padding: 0;
  background: #DCC7AA;
  font-family: "AdobeGaramond",Georgia,Times,serif;
}
.nav {
  background-color: #F7C331;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav li {
  border-bottom: 1px solid #F7C331;
  padding: 1vh 1vw 0 1vw;
}

.nav a {
  text-decoration: none;
  color: #fff;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #F7882F;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    border-bottom: none;
  }

  .nav li {
    display: inline-block;
  }
  .nav h1 {
    padding: 0 0 1vh 1vw;
    border-bottom: 1px solid #687A8F;
  }
}
